
.background1{
    background-image: url('../resources/backgrounds/backgroundIntro.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    color: gold;
}

.floatLeft{
    margin: 20px;
    float: left;
}

.floatRight{
    float: right;
}

#quiz span{

    width: 100%;
    text-align: center;
    align-content: center;
    
}

.center{
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#picture{
    align-content: center;
    text-align: center;
    
}



 