
#overview{
    
    text-align: center;
    align-content: center;
    width: 100%;
}

#picture{
    align-content: center;
    text-align: center;
    
}

#tavern{
    text-align: center;
    font-size: 32px;
}

#wifeInfo{
    text-align: center;
}

#tavern .left{
    text-align: left;
    
}




#overview p{
    font-size: 28px;
}

#quiz p{
    font-size: 32px;
}

.inLine{
    display: inline-block;
}

#quiz h1{
    text-align: center;
}


img:hover{
    border: 5px solid black;
}

img{
    border: 5px solid white;
}

.picTable{
    width: 100%;
    padding: 120px;
}

.intro{
    text-align: center;
    align-content: center;
    width: 100%;
    font-size: 28px;
}

.textLeft{
    text-align: left;
}



#nav{
    position: fixed;
    width: 100%;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}